# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/

# IDEs
.vscode/
.idea/
phoenix_docs/Phoenix Self-Healing Automation System_ Project Blueprint - Copy.pdf
phoenix_docs/Phoenix Self-Healing Automation System_ Project Blueprint.pdf
phoenix_docs/Phoenix_v2_Architecture_and_Execution_Plan.pdf
phoenix_docs/Phoenix_v2_Architecture_and_Roadmap - Copy.pdf
phoenix_docs/Phoenix_v2_Architecture_and_Roadmap.pdf
phoenix_docs/Phoenix_v2_Roadmap.pdf
phoenix_docs/Project Phoenix Blueprint - Copy.pdf
phoenix_docs/Project Phoenix Blueprint.pdf
